.cart-button {
    position: fixed;
    bottom: 24px;
    right: 24px;


    display: flex;
    justify-content: center;
    align-items: center;

    height: 72px;
    width: 72px;
    border-radius: 50%;

    background-color: rgb(255,255,255,0.85);
    outline: 3px solid rgb(243,240,243, 0.85);
}

.cart-button:hover {
    cursor: pointer;
}

.cart-button svg {
    width: 48px;
}

.cart-button svg path {
    fill: rgb(29, 29, 29);
}