.cart-button {
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 3;


    display: flex;
    justify-content: center;
    align-items: center;

    height: 72px;
    width: 72px;
    border-radius: 50%;

    background-color: rgb(255,255,255,0.85);
    outline: 3px solid rgb(243,240,243, 0.85);
}

.cart-button:hover {
    cursor: pointer;
}

.cart-button svg {
    width: 48px;
}

.cart-button svg path {
    fill: rgb(29, 29, 29);
}

/* Modal */

.cart-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
    /* box-shadow: 0px 5px 10px 0px #aaa; */
    /* border-radius: 15px; */
}

.modal-content {
    z-index: 3;
    
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 500px;
    width: 500px;

    max-height: 85vh;
    max-width: 90vw;

    padding: 24px 0px 24px 0px;

    background-color: rgb(255,255,255);
    border-radius: 15px;
}

.cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 90%;

    box-sizing: border-box;
    margin: 12px;
    padding: 12px;

    outline: 2px solid black;
    border-radius: 15px;

    height: 80px;

}

.shop-item-img {
    height: 100%;
    width: auto;
    border-radius: 15px;

    padding-right: 12px;
}

.cart-title {
    width: 100%;
    margin: 0;
    padding-right: 12px;
}

.remove-button {
    z-index: 5;

    padding-left: 12px;
    width: 24px;
    height: 24px;
}

.cart-modal.hide {
    display: none;
}