.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 40vw;
    max-height: auto;

    box-sizing: border-box;

    padding: 24px 24px 24px 24px;

    border-radius: 5%;
    background-color: rgb(243,240,243);
}

.card img {
    max-width: 100%;
    margin: 12px;
}

.card a, .card a:visited {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
    color: black;
}

.card a:hover {
    color: rgb(17, 121, 100);
}

.card-title {
    margin: 24px;
}

.card-description {
    text-align: center;
    height: 60px;
}

.card-price {
    font-weight: 500;
}

/* Mobile */

@media (max-width: 768px) {
    .card {
        max-width: 100vw;
    }
}