.section {
    height: 100vh;
    width: auto;
}

.section.home {
    height: 100vh;
    width: auto;

    background-image: url('../assets/coen-van-de-broek-OFyh9TpMyM8-unsplash.jpg');
    background-size: cover;
    background-position: center;
}