.section {
    height: 100vh;
    width: auto;
}

.section.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: auto;

    background-image: url('../assets/coen-van-de-broek-OFyh9TpMyM8-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.section.home .home-text {
    color: white;
    font-size: 2.5rem;
    text-align: center;

    text-shadow: 2px 2px black;
}

/* Hero */

.section.hero {
    height: 100%;
}

.hero-title {
    margin-top: 48px;
    color: black;
    font-size: 2rem;
    text-align: center;

    text-shadow: 2px 2px white;
}

.section.hero .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 48px;
    padding: 48px;
}

@media (max-width: 768px) {
    .section.hero .card-container {
        padding: 24px;
        gap: 24px;
    }
    .hero-title {
        margin-top: 24px;
    }
}

/* Shop */

.shop {
    height: 100%;
}

.section.shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    margin-top: 48px;
    padding: 48px;
    gap: 48px;
}

@media (max-width: 768px) {
    .section.shop {
        padding: 24px;
        gap: 24px;
    }
}