.section {
    height: 100vh;
    width: auto;
}

.section.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: auto;

    background-image: url('../assets/coen-van-de-broek-OFyh9TpMyM8-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.section.home .home-text {
    color: white;
    font-size: 2.5rem;
    text-align: center;

    text-shadow: 2px 2px black;
}

/* Hero */

/* Shop */